.h1{
    color: red;
    background-color: yellow;
}
.sarlaha{
    background-color: greenyellow;
    text-align: center;
}
.mark{
    color: blue;
}
.mark2{
    background-color: aqua;
}
.mark3{
    background-color: blanchedalmond;
}
.otada{
    text-align: center;
    color: blue;
}