.html{
    background-color: aqua;
    text-align: center;
    border-radius: 50px;
}
.sariq{
    background-color: yellow;
}
.KOK{
    background-color: black;
    color: aliceblue;
}
.boshi{
    color: blue;
    text-align: center;
}
.div{
    background-color: red;
    text-align: center;
    border-radius: 50px;
}
.qora{
    background-color: yellow;
}
.qizil{
    color: white;
}
.toq{
   background-color: red;
    color: white;
}
.ochh{
    background-color: green;
    color: white;
}
.orqa{
    background-color: black;
    color: aqua;
    text-align: center;
}
.p{
    background-color: blue;
    color: white;
}
.o{
    background-color: orange;
    color: white;
}
.i{
    text-align: center;
}
.l{
    text-align: center;
}